---
blog_title: Owen Fraser-Green
author: 

twitter_user: ofrasergreen
tweet_count: 3
show_replies: false

delicious_user: 
delicious_count: 3

full_url: 
disqus_short_name: 

google_custom_search_id:
google_analytics_tracking_id:

---

!!! 5
%html

  = include "head.haml"
  %body(id="#{(page.respond_to?(:body_id) ? page.body_id : nil)}")
    #page
      #content
        #sidebar= include "sidebar.haml"
        #main
          #nav= include "navigation.haml"
          .content= preserve rp(content)
    = include "footer.haml"
